<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IService" sendTimeout="00:05:00" />
                <binding name="BasicHttpBinding_IService1" sendTimeout="00:05:00" />
                <binding name="BasicHttpBinding_IService2" sendTimeout="00:05:00" />
                <binding name="BasicHttpBinding_IService3" sendTimeout="00:05:00" />
                <binding name="BasicHttpBinding_IService4" sendTimeout="00:05:00" />
                <binding name="BasicHttpBinding_IService5" sendTimeout="00:05:00" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:52651/Service.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IService" contract="LocalGreedy.IService"
                name="BasicHttpBinding_IService" />
            <endpoint address="http://localhost:62535/Service.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IService1" contract="LocalHeuristic.IService"
                name="BasicHttpBinding_IService1" />
            <endpoint address="http://54.197.38.163/Greedy/Service.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IService2" contract="RemoteVMGreedy.IService"
                name="BasicHttpBinding_IService2" />
            <endpoint address="http://3.91.175.186/Heuristic/Service.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService3"
                contract="RemoteVMHeuristic.IService" name="BasicHttpBinding_IService3" />
            <endpoint address="http://pt2-alb-492739985.us-east-1.elb.amazonaws.com/Greedy/Service.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService4"
                contract="RemoteALBGreedy.IService" name="BasicHttpBinding_IService4" />
            <endpoint address="http://pt2-alb-492739985.us-east-1.elb.amazonaws.com/Heuristic/Service.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService5"
                contract="RemoteALBHeuristic.IService" name="BasicHttpBinding_IService5" />
        </client>
    </system.serviceModel>

  <system.net>
    <connectionManagement>
      <add address="*" maxconnection="1000"/>
    </connectionManagement>
  </system.net>
  
</configuration>
